body {
    font-family: "Goudy Old Style", Arial;
    font-size: 150%;
    text-align: center;
    line-height: 0.9;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

button, input, select, option {
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.666);
    font-family: "Goudy Old Style", Arial;
    font-size: 90%;
    text-align: center;
    padding: 6px;
}

#asetukset, #lisaohjeet, #noppaPeli, #lopeta, #voittoIkkuna {
    display: none;
}

#peliohjeet {
    display: none;
    font-size: 80%;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.666);
    padding: 6px;
}

#noppaPeli {
    width: 100%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    padding: 10px 0px;
    margin: 0px 50px;
    margin-top: 10px;
}

#heita, #lopeta {
    display: inline-block;
    margin: 0px 33%;
    margin-top: 10px;
    line-height: 0.9;
}

#pelaajaLoota {
    margin-top: 10px;
    font-size: 80%;
    line-height: 0.2;
}

#tilanneLoota {
    margin-top: 10px;
    line-height: 0.9;
}