body {
    font-family: "Goudy Old Style", Arial;
    font-size: 150%;
    text-align: center;
    padding-bottom: 20px;
}

button, input, select {
    border: 2px solid black;
    font-family: "Goudy Old Style", Arial;
    font-size: 90%;
    text-align: center;
}

#asetukset {
    display: none;
}