body {
    font-family: "Goudy Old Style", Arial;
    font-size: 150%;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

button, input, select {
    border: 2px solid black;
    font-family: "Goudy Old Style", Arial;
    font-size: 90%;
    text-align: center;
    padding: 6px;
}

#asetukset, #lisaohjeet, #noppaPeli, #lopeta, #voittoIkkuna {
    display: none;
}

#peliohjeet {
    display: none;
    font-size: 80%;
    border: 2px solid black;
    padding: 6px;
}

#noppaPeli {
    width: 100%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    padding: 10px 0px;
    margin: 10px 50px;
}

#heita {
    display: inline-block;
    margin: 0px 33%;
}